<div class="container">
  <div class="row"> 
  	<div class="col-md-6 col-md-offset-3">
	  	<% @articles.each do |article| %>
	  		<div class="well well-lg center animated shake">
		      <h1 class="animated swing" id="article_title"><%=link_to article.title, article %></h1>
		    </div>  
		  <% end %>
		</div>
  </div>
</div>
