<div class="row">
	<div class="col-md-8">
		<div align="left">
			<%= will_paginate  %>
		</div>
		<div align="left" class="col-md-6">
			<%= render 'article', obj: @articles %>
		</div>
		<div align="left">
			<%= will_paginate  %>
		</div>
	</div>
	<div class="col-md-4">
		<%= render "shared/sidebar" %>
	</div>
</div>
