<footer class="homepage-footer">
	<div class="footer-row">
		<small>
			Copyright &copy; <%= Time.now.year %> <a href="www.yarblog.com">Yar Blog <a href="www.rahymov.me">by rahymov</a></a>
		</small>
		<nav>
			<ul>
				<%= link_to "About", about_path %> |
				<%= link_to "Contact", about_path %>
			</ul>
		</nav>
	</div>
</footer>