/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_categories
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "categories";


html 
{
  zoom: 1; /* Old IE only */
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
	position: relative;
	min-height: 100%;
}
.container .well
{
	background-color: #75D6F1;
}
#logo
{
	color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: monica;
  
  &:hover 
  {
  	background-color: black;
  	border: .3px solid;
  	border-radius: 10px;
		font-family: 'Berkshire Swash', cursive;
  }
}
.navbar-default 
{
	background-color: #4eb2f9;
	padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #022F3C;
    font-size: 22px;
    font-family: 'Neucha', cursive;
    letter-spacing: 0.5px;
    &:hover{
    	color: #EBFAFF;
    	font-size: 20px;
    	font-family: 'Neucha', cursive;
    	background-color: black;
	  	border: .3px solid;
	  	border-radius: 10px;
    }
}
.dropdown-menu > li > a
{
	font-family: 'Neucha', cursive;
	font-size: 18px;
	background-color: #b4c9ea;
}
.navbar-nav > li > .dropdown-menu
{
	background-color: #b4c9ea;
}
.center{
	text-align: center;
}
.jumbotron
{
	background-image: asset-url("blog.jpg");
	background-size: cover;
	width: 100%;
	a
	{
		color: white;
	}
	.display-3{
		color: white;
		letter-spacing: 1;
		font-weight: bold;
		&:hover
		{
			color: black;
		}
	}
}

.homepage-footer{
	padding-bottom: 0;
	padding-top: 390px;
	list-style-type: none;
	text-decoration: none;

}
.footer-row
{
	background-color: #4eb2f9;
  border-top: 1px solid #E7E7E7;
  text-align:center;
  padding:20px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.container .row h1 > a 
{
	text-decoration: none;
}
.well
{
	background-color: #0495BE;
}
.well
{
	background-color: #75D6F1;
}
.container .row h1 > a
{
	color: white;
	&:hover
	{
		color: #022F3C;
	}
}

.form-check-input .check_box-inline .check_box
{
	width: auto !important ;
}
.navbar-nav > li > .dropdown-menu
{
	border-radius: 5px;
}