// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.badge
{
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0;
}

.category-title a
{
	text-decoration: none;
}
div.well .sidebar-nav
{
	background-color: #75D6F1;
}